# Python
*.py[cod]
__pycache__/
*.sqlite3
.venv/
.env
.cache

# Node
node_modules/
frontend/node_modules/
dist/
build/
.cache/

# Docker
.env
.env.local
.env.prod

# IDE
.vscode/
.idea/

# Celery
celerybeat-schedule*
*.bak
*.dat
*.dir\

# Media
/backend/media/uploads

# Tests
.coverage

/backend/staticfiles/