services:
  frontend:
    build: ./mr-frontend
    ports:
      - "8080:80"
  backend:
    build: ./backend
    volumes:
      - ./backend/media:/code/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
  celery:
    build: ./backend
    command: celery -A backend worker -l info --pool=solo
    volumes:
      - ./backend:/code
    env_file:
      - .env
    depends_on:
      - backend
      - redis

  celery-beat:
    build: ./backend
    command: celery -A backend beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./backend:/code
    env_file:
      - .env
    depends_on:
      - backend
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  flower:
    build: ./backend
    image: mher/flower
    command: celery -A backend flower --port=5555
    volumes:
      - ./backend:/code
    working_dir: /code
    env_file:
      - .env
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0

  db:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
