.album{
    display: flex;
    min-width: 400px;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.albumContainer{
    display: flex;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}