.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.hamburger-container {
  margin-bottom: 1rem;
}

.sidebar-menu {
  position: absolute;
  top: 60px;
  right: 40px;
  background: #dadadac7;
  padding: 1rem;
  border-radius: 8px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin: 1rem 0;
}

.sidebar-menu a {
  color: #000000;
  text-decoration: none;
}

.sidebar-menu a:hover {
  text-decoration: underline;
}
